@model IEnumerable<Nhom1_AG.Models.Voucher>

<h2>Quản lý voucher</h2>

<a asp-action="Create" asp-controller="Voucher" class="btn btn-success mb-3">Tạo Voucher mới</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã Voucher</th>
            <th>Giảm giá</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voucher in Model)
        {
            <tr>
                <td>@voucher.VoucherId</td>
                <td>@voucher.Code</td>
                <td>@voucher.DiscountAmount</td>
                <td>
                    <a asp-action="Delete" asp-controller="Voucher" asp-route-id="@voucher.VoucherId"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
